# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

# Tool output
unpacked/

# Local Libraries
libs/

# Log files
*.log

# Android Package
*.apk

# Generated text files
*.txt

# IDE files
.idea/
*.iml
out/
build/
.gradle/
local.properties

# OS files
.DS_Store
Thumbs.db
